# macOS system files
.DS_Store

# Backup files created by Obsidian (if any)
*.bak
*.swp

# Files related to plugins or caches
cache/
log/

# Exclude vault-specific files (optional, adjust based on your setup)
.vault-id
